
.icon.featured {
    position: relative;
    display: inline-block;
    background-color: #d52349;
    width: 9em;
    padding: 1.75em 0 0.75em 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0 0 4.5em 0;
    cursor: default;
}
